aiodataloader==0.4.0
alembic==1.11.1
aniso8601==9.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
dash==2.10.2
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
filelock==3.12.2
Flask==2.2.5
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
fonttools==4.39.4
fsspec==2023.6.0
google-api-core==2.11.1
google-api-python-client==2.94.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
graphene==3.2.2
graphene-sqlalchemy==3.0.0b3
graphql-core==3.2.3
graphql-relay==3.2.0
graphql-server-core==1.2.0
greenlet==2.0.2
httplib2==0.22.0
huggingface-hub==0.16.4
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
plotly==5.14.1
promise==2.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydata-google-auth==1.8.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
Rx==1.6.3
safetensors==0.3.1
seaborn==0.12.2
searchconsole==0.0.4
singledispatch==3.7.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==1.4.48
sympy==1.12
tenacity==8.2.2
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.30.2
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
Werkzeug==2.2.3
WTForms==3.0.1
