<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name = viewport content="width=device_width, initial_scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <title> Новостной сайт </title>
    </head>
    <body>
        <ul><br> Новости </br>

        {% for topic in news %}
        <li><p>{{topic.title}}</p> 
            <p>{{topic.text}}</p></li>
        {% endfor %}
    </ul>


        <ul><br> Отзывы </br>
        {% for topic in feedbacks %}
        <li><p>{{topic.rating}}</p>
            <p>{{topic.text}}</p>
            <p>{{topic.name}}</p> </li>
        {% endfor %}
    </ul>

        <button> Click ME</button>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> 
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <p></p>
    </body>
</html>