/* Стилизация навигационной панели */
.navbar {
  overflow: hidden;
  background: cyan;
  padding: 0px;
}
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;


 }
.navbar a:hover {

  background-color: #ddd;
  color: #FF8C00;
  color: black;
 
 }
 /* Стилизация боковой  навигационной панели */
.sidebar {
  padding: 0px 0px 0px 0px;
  width: 100%;
  z-index: 1;
  top: 5%;
  right: 0;
  background-color: #FFAD4D;
  overflow-x: hidden;
  background: linear-gradient(cyan,pink);
  height: 100%;
}
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 100%;
  color: black;
  display: block;

}
.sidebar a:hover {
  background-color: #ddd;
  color: black;

}
/* Стилизация подвала */
.footer {
  margin: 25px 0px 0px 0px;
  padding: 25px;
  background-color: #FFCA96;
  color: black;
  padding: 20px;
  text-align: center;
  background: linear-gradient(pink);
}
/* Растягивающиеся и прокручивающиеся таблицы */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{
		margin: 0;
		padding: 0;	
		text-align: left;
	}
table {
  width: 100%;
  color: black;
  text-align: center;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
  width : 5%;
}

.table-container {
  height: 200px;
  overflow: auto;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center 
}

th {
  background-color: #f2f2f2;
  text-align: center 
}

/* Шрифт */
body {
  background-color: black;
  font: small-caps bold 24px/1 sans-serif;
}

/* Настройки */
#settings-div {
  display: none; /* Скрываем div по умолчанию */
}
/* Прокрутка страниц */
.scroll-table-body {
  height: 600px;
  overflow-x:auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  text-align: center 
}
.scroll-table table {
  width:100%;
  table-layout: fixed;
  border: none;
  text-align: center 
}
.scroll-table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #f9a34b;
  font-size: 14px;
  text-align: center 
}
.scroll-table tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
  text-align: center 
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
/* Подставка для графиков */
.stand {
  background: linear-gradient(cyan,pink);
}
  /* Убираем маркеры */
li {
  list-style-type: none;
}