/* Стилизация навигационной панели */
.navbar {
  overflow: hidden;
  background: cyan;
  padding: 0px;
}
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;


 }
.navbar a:hover {

  background-color: #ddd;
  color: #FF8C00;
  color: black;
 
 }
 /* Стилизация боковой  навигационной панели */
.sidebar {
  padding: 0px 0px 0px 0px;
  width: 100%;
  z-index: 1;
  top: 5%;
  right: 0;
  background-color: #FFAD4D;
  overflow-x: hidden;
  background: linear-gradient(cyan,pink);
  height: 100%;
}
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 100%;
  color: black;
  display: block;

}
.sidebar a:hover {
  background-color: #ddd;
  color: black;

}
/* Стилизация подвала */
.footer {
  margin: 25px 0px 0px 0px;
  padding: 25px;
  background-color: #FFCA96;
  color: black;
  padding: 20px;
  text-align: center;
  background: linear-gradient(pink);
}
/* Растягивающиеся таблицы */
table {
  width: 100%;
  color: black;
  text-align: center;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
  width : 5%;
}

/* Шрифт */
body {
  background-color: black;
  font: small-caps bold 24px/1 sans-serif;
}

/* Настройки */
#settings-div {
  display: none; /* Скрываем div по умолчанию */
}
/* Прокрутка страниц */
.scroll-table-body {
  height: 50%;
  overflow-x:auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.scroll-table table {
  width:100%;
  table-layout: fixed;
  border: none;
}
.scroll-table tbody td {
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: center;
}
.scroll-table tbody tr:nth-child(even){
  background: #00000000;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
/* Подставка для графиков */
.stand {
  background: linear-gradient(cyan,pink);
}