<style>
/* Стилизация подвала */
.footer {
  margin: 25px 0px 0px 0px;
  padding: 25px;
  background-color: #FFCA96;
  color: black;
  padding: 20px;
  text-align: center;
}
/* Растягивающиеся таблицы */
table td, table th {
  border: 1px solid black;
  padding: 8px;
  width : 5%;
}
#settings-div {
  display: none; /* Скрываем div по умолчанию */
}
.scroll-table-body {
  height: 50%;
  overflow-x:auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.scroll-table table {
  width:100%;
  table-layout: fixed;
  border: none;
}
</style>
<div id = 'footer' class="footer">
     <p>
          Рабочая почта: agencyUpShot@mail.ru <br>
          2023 Аналитика. Спасибо за внимание!!!
       </p>
   </div>