{% extends 'base.html' %}
{% block title %}
GraphQL query
{% endblock  title%}
{% block header%} 
    <h1>Query:
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> {{query}}</span>
    </h1>
{% endblock header%}
{% block content %}
<br> Response:</br>
<span class="glyphicon glyphicon-plus" aria-hidden="true"> {{data}}</span>
<br> Errors:</br>
<span class="glyphicon glyphicon-plus" aria-hidden="true"> {{errors}}</span>
<form action="" method="POST" novalidate>
{{form.csrf_token}}
<div class = "form-group">
<h1> Your query:</h1>
{{form.query(class="form-control")}}
{{form.submit(class="btn btn-success btn-log", size=20)}}
</div>
</form>
<br>Подсказки:</br>
<br>Просмотр специализаций:  {getSpecializations{ edges { node { sId, name, vacancies {edges { node {vId, name,  status} } } } } } }</br>
<br>Добавление специализации: mutation{ saveSpecialization(name:"spec"){ status }}</br>
<br>Просмотр вакансий: {getVacancies{ edges { node { id, name, city, minSalary, maxSalary, experience, schedule, employment, description, keySkills, employer, publishedAt, specializationId } } } }</br>
<br>Добавление вакансии: mutation{ saveVacancy(name:"TestVacancy", specializationId: 1,minSalary: 100000, maxSalary:200000, keySkills: "['Python', 'Git']" , experience : "between1And3", publishedAt : "2023-07-17"){ status } }<br>
<br>Отключение вакансии: mutation{deactivateVacancy(vId : "1"){status}} </br>
{% endblock content %}