{% extends 'base.html' %}
 {% block title %}
Навыки, аналитика
 {% endblock  title%}
 {% block header%} 
 <h1>Главная</h1>
 {% endblock header%}
{% block content %}
       <center> <h3>Навыки Backend Developer</h3> </center>
       <img src="{{ url_for('static', filename='table.jpg') }}" alt = 'текст' width="1100" height="500">
       <p align="right"><iframe src="/dash/" width="1100" height="500"> </iframe></p>
       <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
            {% for i in range(length) %}
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{names[i]}}</td>
            <td>{{costs[i]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
{% endblock  content%}